.Game {
    text-align: center;
}
.playerList{
    background-color: #00F0B5;
    right: 0;
    padding-top: 2%;
    position: fixed;
    width: 30%;
    height:100vh;
    color: white;
    
}

.avatar1 {
    margin-right: 20px;
}

.score{
    position: fixed;
    left:0;
    width: 20vw;
    height: 100px;
    background-color: #3DA5D9;
    margin-top: 2%;
    padding-top: 1%;
    color: white;
}

#Q1{
    width: 65vw;
    height: 80vh;
    background-color:#FCDC7B;
    background: rgba(255,255,255,0.8);
    position:fixed;
    left: 3%;
    bottom: 2%;
    border: 20px solid rgb(244, 238, 66);
}

.title2 {
    padding-top: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
