.Quiz {
  text-align: center;
    background: url("../img/space-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100vw;
    height: 100vh;
}


.white {
    color: white;
}

.shadow {
    text-shadow: 2px 2px 4px #000000;
}

.title {
    padding-top: 15%;
    margin-bottom: 10%;
}

.host {
    text-align: right;
}
.player {
    text-align: left;
}

.HostRow {
    padding-top: 10%;
}